.btn {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: $green;
  line-height: 20px;
  padding: 10px 12px;
  text-transform: uppercase;
  border: 2px solid #000;
  margin-top: 15px;

  @media (min-width: $screen-lg) {
    margin-top: 30px;
    padding: 10px 15px;
  }
}