.service {
  &__container {
    width: 100%;

    @media (min-width: $screen-sm) {
      width: 740px;
      margin: 0 auto;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
      margin: 0 auto;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    @media (min-width: $screen-lg) {
     font-size: 40px;
    }
  }
  &__subtitle {
    text-align: center;
    font-weight: 700;

    @media (min-width: $screen-xs) {
      font-size: 10px;
    }

    @media (min-width: $screen-sm) {
      margin-bottom: 25px;
      font-size: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 40px;
      font-weight: 700;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      width: 740px;
    }

     @media (min-width: $screen-lg) {
      width: 100%;
    }
  }

  &__wrap {
    display: flex;
    margin-left: 1px;
    flex-wrap: wrap;

    @media (min-width: $screen-lg) {
      width: 760px;
    }
  }

  &__article--desktop{
   display: block !important;
  }
}


.article {
  position: relative;
  margin-bottom: 1px;

  @media (min-width: $screen-lg) {
    display: flex;
    justify-content: space-between;
  }

  &--tablet{

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__content{

    @media (min-width: $screen-sm) {
      width: 364px;
    }

    @media (min-width: $screen-lg) {
      width: 360px;
    }
  }

  &__photo1 {
    min-width: 165px;
    width: 100%;
    height: 165px;
    background-image: url('../img/services__photo1.jpg');
    background-color: lightgrey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: $screen-sm) {

      &:before {
        display: none;
      }

      width: 364px;
      height: 247px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 40px;
      width: 360px;
    }

    &:before {
      content: "";
      width: 100%;
      height: 96px;
      background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.7;
      position: absolute;
      bottom: 0;
    }
  }

  &__photo2 {
    min-width: 154px;
    width: 100%;
    height: 82px;
    background-image: url('../img/services__photo2.jpg');
    background-color: lightgrey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 57px;
      background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.7;
      position: absolute;
      bottom: 0;
    }

    @media (min-width: $screen-sm) {

      &:before {
        display: none;
      }

      width: 364px;
      height: 247px;
    }

    @media (min-width: $screen-lg) {
      width: 360px;
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }

  &__photo3 {
    min-width: 154px;
    width: 100%;
    height: 82px;
    background-image: url('../img/services__photo3.jpg');
    background-color: lightgrey;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 57px;
      background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.7;
      position: absolute;
      bottom: 0;
    }


    @media (min-width: $screen-sm) {

      &:before {
        display: none;
      }

      width: 364px;
      height: 247px;
    }

    @media (min-width: $screen-lg) {
      display: block;
      width: 360px;
      margin-right: 40px;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #fff;

    @media (min-width: $screen-sm) {
      color: #000;
      position: static;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      margin-top: 29px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 0px;
    }
  }

  &__text {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    line-height: 22px;
    display: none;

    @media (min-width: $screen-sm) {
      font-size: 15px;
      display: block;
      margin: 0;
      margin-top: 15px;

    }
  }

  &__links {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @media (min-width: $screen-sm) {
      position: static;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    & span {
      display: none;

      @media (min-width: $screen-sm) {
        position: static;
        display: inline;
        font-size: 20px;
        font-weight: 700;
      }
      @media (min-width: $screen-lg) {}
    }
  }

  &__icon_right {
    width: 19px;
    height: 14px;
    background: url('../img/css_sprites-mob.png') -170px -155px;
    opacity: 0.9;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      width: 35px;
      height: 25px;
      opacity: 1;
      width: 37px; height: 27px;
      background: url('../img/css_sprites.png') -114px -186px;
    }

    @media (min-width: $screen-lg) {
      width: 37px;
      height: 27px;
    }
  }
}

