mixin gallery()
  section.gallery
    h2.gallery__title
      a(href='https://www.instagram.com/') #ice_ace_community

    .gallery__item
      img.gallery__photo(src='img/gallery__photo1.jpg')

    .gallery__item
      img.gallery__photo(src='img/gallery__photo2.jpg')

    .gallery__item
      img.gallery__photo(src='img/gallery__photo3.jpg')

    .gallery__item
      img.gallery__photo(src='img/gallery__photo4.jpg')

    .gallery__item
      img.gallery__photo(src='img/gallery__photo5.jpg')

    .gallery__item
      img.gallery__photo(src='img/gallery__photo6.jpg')
