mixin team()

  section.team
    h2.team__title Команда
    p.team__text.
      Привет! Мы — команда инструкторов ICE ACE, с нами вы научитесь кататься как настоящие асы,
      потому что мы знаем, что такое выкладываться на склоне, бороться со стихией, добиваться высоких результатов и покорять самые сложные трассы. В наших рядах призеры мировых чемпионатов и они готовы поделиться своим ценным опытом, чтобы каждый урок стал вашей личной победой
    a.team__btn.btn(href='/instructors.html', title='Выбрать инструктора') Выбрать инструктора
