mixin features()
  section.features
    h2.features__title Почему мы

    //- features-item
    article.features-item
      i.features-item__icon
      h3.features-item__title 100% гарантия результата
      p.features-item__text.
        Уверены — научиться кататься и улучшить свой навык может каждый, и мы гарантируем результат уже через 5 занятий

    article.features-item
      i.features-item__icon
      h3.features-item__title Опытные инструкторы
      p.features-item__text.
        У всех инструкторов школы есть международный сертификат, который дает право обучать катанию на сноуборде и горных лыжах

    article.features-item
      i.features-item__icon
      h3.features-item__title Индивидуальные занятия  и расписание
      p.features-item__text.
        Мы любим индивидуальный подход, поэтому все занятия с тренером — персональные,
        а график обучения составляете вы сами

    article.features-item
      i.features-item__icon
      h3.features-item__title Инвентарь и одежда
      p.features-item__text.
        Все, что необходимо для комфортного занятия - включено в стоимость, с нами не нужно беспокоиться об аренде снаряжения и покупке дорогой одежды

    article.features-item
      i.features-item__icon
      h3.features-item__title Безопасность
      p.features-item__text.
        Каждый инструктор подбирает технику катания и угол склона индивидуально под ваш уровень и гарантирует 100% безопасность во время занятия

    article.features-item
      i.features-item__icon
      h3.features-item__title Трансфер
      p.features-item__text.
        30 минут и вы на месте, столько примерно занимает дорога из центра города до склона на нашем бесплатном трансфере, который легко забронировать
