mixin community()
  section.community
    h2.community__title Сообщество
    p.community__text.
      ICE ACЕ — не только школа, а целое комьюнити вдохновленных снегом и горами людей, мы без ума от сноуборда и горных лыж и часто делимся важными событиями в социальных сетях, следите за нами на канале Youtube и в Instagram или приходи к нам, мы всё расскажем.
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.5058598098105!2d30.31615231640593!3d59.95693198188284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963142060d3cf9%3A0x2ecffd4d161cab80!2z0JrRgNC-0L3QstC10YDQutGB0LrQuNC5INC_0YAuLCAyMywg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzEwMQ!5e0!3m2!1sru!2sru!4v1519536968539",
    width="100%",
    height="360px",
    frameborder="0",
    style="border:0",
    allowfullscreen
    )
