//- Подключение примесей
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/_main-nav/main-nav.pug

//- index
include blocks/_promo/promo.pug
include blocks/_services/services.pug

include blocks/_sale/sale.pug
include blocks/_team/team.pug
include blocks/_community/community.pug
//- instructors
include blocks/_instructors/instructors.pug
include blocks/_profile/profile.pug
include blocks/_comments/comments.pug

//- shedules
