//- шаблон наследования
extends templates/layout.pug

block meta
  title Школа сноуборда и горных лыж

  //- promo
  +promo()

  //- Подключение шапки
  +page-header()
    block nav
      -var selected = "index.html"
      +main-nav(selected)

  +services()
  +features()
  +sale()
  +team()
  +community()
  +gallery()

  //- Подключение подвала
  +page-footer()
